<div class="list-group">
	<a href="<%= user_path current_user.id %>" class="list-group-item">Home</a>
	<a href="<%= edit_user_registration_path %>" class="list-group-item">Editar Meus Dados</a>
	<a href="<%= playlists_path %>" class="list-group-item">Minhas Playlists</a>
	<a href="#" class="list-group-item">Minhas Configurações</a>
	<a href="#" class="list-group-item">Seguidores</a>
	<a href="#" class="list-group-item">Estatísticas</a>
</div>