<div class="funcionamento">
  <h1 class="mt-4 mb-3">É rápido e simples!</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Como funciona</li>
  </ol>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="<%= image_url "user-dj.jpg" %>" alt="cliente feliz" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm">
        <h6>Veja como é fácil criar engajamento com seus clientes:</h6>

        <ul>
          <li>1. Cadastre sua empresa em nossa plataforma</li>
          <li>2. Gere uma nova playlist e um código único temporário para seus clientes</li>
          <li>3. Cliente faz check-in no seu estabelecimento e pode adicionar músicas à playlist</li>
        </ul>

        Seus clientes escolhem o som ambiente naquele momento, e você sai no lucro!
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>


</div>