<div style="margin-top: 90px;">
  <h1 class="mt-4 mb-3">É rápido e simples!</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Como funciona</li>
  </ol>

  <span>Veja como é fácil começar:</span>
  <ul>
    <li>1. Empresa faz login no painel da plataforma</li>
    <li>2. Permite o horário para criação para seus clientes, e recebe um código único temporário</li>
    <li>3. Cliente chega no seu estabelecimento, pega a senha, faz check-in no seu local, e pode adicionar músicas à playlist</li>
  </ul>

  Todo mundo sai feliz! ;)
</div>