<div class="col-md-12 text-center main">
    <h3>BackSound</h3>
    <h6> O melhor DJ é a galera</h6>
  <br>
  <hr>
  <br>

    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-6">
          <h2>O cliente sempre tem razão</h2>
          <p>Com o sistema BackSound você pode:</p>
          <ul>
            <li>
              <strong>Engajar seus clientes</strong>
            </li>
            <li>Não se preocupar com qual música vai tocar</li>
            <li>Focar no atendimento ao cliente</li>
            <li>Saber quais estilos musicais atraem mais sua clientela</li>
            <li>Ganhar shares e publicidade gratuita nas redes sociais</li>
          </ul>
          <p>Tudo isso porque o cliente está por conta do som!</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-success btn-block" href="<%= planos_path %>">Contrate agora</a>
        </div>
      </div>
    </div>

</div>