<%- if (user_signed_in?) %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Minha Conta</li>
  </ol>

  <div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
      <div class="list-group">
        <a href="/" class="list-group-item">Home</a>
        <a href="about.html" class="list-group-item">Editar Meus Dados</a>
        <a href="services.html" class="list-group-item">Minhas Playlists</a>
        <a href="contact.html" class="list-group-item">Seguidores</a>
        <a href="pricing.html" class="list-group-item">Pricing Table</a>
      </div>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">
      <h2>Bem vindo, <%= current_user.email %></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
    </div>
  </div>
<%- end %>
