<%- if (user_signed_in?) %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Minha Conta</li>
  </ol>

  <div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
      <div class="list-group">
        <a href="/" class="list-group-item">Home</a>
        <a href="<%= edit_user_registration_path %>" class="list-group-item">Editar Meus Dados</a>
        <a href="#" class="list-group-item">Minhas Playlists</a>
        <a href="#" class="list-group-item">Minhas Configurações</a>
        <a href="#" class="list-group-item">Seguidores</a>
        <a href="#" class="list-group-item">Estatísticas</a>
      </div>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">
      <h2>Bem vindo, <%= current_user.email %></h2>
      <p>
        Aqui você pode ver suas playlists criadas, editar os dados do seu estabelecimento,
        ver quais os seguidores das suas playlists, e visualizar importantes dados estatísticos
        que você já conseguiu engajar com a BackSound.
        <br><br>
        Conte conosco para entreter seus clientes de maneira divertida, e impulsionar o seu negócio.

        <br><br>

        <button type="button" class="btn btn-info">Criar Playlist</button>
      </p>
    </div>
  </div>
<%- end %>
